@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width */
.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .scrollbar-track-gray-200::-webkit-scrollbar-track {
    background: (226 232 240 / var(--tw-bg-opacity)); 
  }
   
  /* Handle */
  .scrollbar-thumb-gray-500::-webkit-scrollbar-thumb {
    background: #6b7280; 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  .scrollbar-thumb-gray-500::-webkit-scrollbar-thumb:hover {
    background: #4a5568; 
  }

  .arrow {
    margin: 10px auto;
    width: 40px;
    height: 40px;
    animation: bounce 2s infinite;
    position: absolute;
    bottom: 25vh;
  }
  
  @keyframes bounce {
    0% {transform: translate(0, 0);}
    50% {transform: translate(0, -10px);}
    100% {transform: translate(0, 0);}
  }


  